<!-- REGISTER 9 - Bootstrap Brain Component -->
<section class="bg-light py-md-5 py-xl-8 vh-100 d-flex">
  <div class="container align-content-center">
    <div class="row gy-4 align-items-center m-auto">
      <div class="col-12 col-md-6 col-xl-7">
        <div
          class="bg-light d-flex justify-content-center text-bg-light rounded-4 shadow container__REGISTER-hero"
        >
          <div class="col-12 col-xl-9">
            <hr class="border-primary-subtle mb-4" />
            <h2 class="h1 mb-4">
              {{ "REGISTER.WEB_DESCRIPTION" | translate }}
            </h2>
            <p class="lead mb-5">
              {{ "REGISTER.WEB_PARAPH" | translate }}
            </p>
            <div class="text-endx">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="48"
                height="48"
                fill="currentColor"
                class="bi bi-grip-horizontal"
                viewBox="0 0 16 16"
              >
                <path
                  d="M2 8a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm0-3a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm3 3a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm0-3a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm3 3a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm0-3a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm3 3a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm0-3a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm3 3a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm0-3a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"
                />
              </svg>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-6 col-xl-5">
        <div class="card border-0 rounded-4">
          <div class="card-body p-3 p-md-4 p-xl-5">
            <div class="row">
              <div class="col-12">
                <div class="mb-4">
                  <h3>{{ "REGISTER.SIGN_UP" | translate }}</h3>
                  <a (click)="registeredUser()">
                    {{ "REGISTER.HAVE_ACCOUNT" | translate }}
                  </a>
                </div>
              </div>
            </div>
            <form [formGroup]="registerForm">
              <div class="row gy-3 overflow-hidden">
                <div class="col-12 container__input">
                  <div class="form-floating mb-2">
                    <input
                      type="text"
                      class="form-control"
                      formControlName="firstname"
                      placeholder="firstname"
                      required
                    />
                    <label for="text" class="form-label">{{
                      "REGISTER.FIRST_NAME" | translate
                    }}</label>
                  </div>
                  <div class="error-text">
                    <span
                      *ngIf="
                        registerForm.get('firstname')?.hasError('required') &&
                        registerForm.get('firstname')?.touched
                      "
                    >
                      {{ "REGISTER.FIRST_NAME_REQUIRED" | translate }}
                    </span>
                  </div>
                  <div class="error-text">
                    <span
                      *ngIf="
                        registerForm.get('firstname')?.hasError('minlength')
                      "
                    >
                      {{ "REGISTER.FIRST_NAME_MIN_LENGTH" | translate }}
                    </span>
                  </div>
                </div>
                <div class="col-12 container__input">
                  <div class="form-floating mb-1">
                    <input
                      type="password"
                      class="form-control"
                      formControlName="lastname"
                      value=""
                      placeholder="lastname"
                      required
                    />
                    <label for="lastname" class="form-label">{{
                      "REGISTER.LAST_NAME" | translate
                    }}</label>
                  </div>
                  <div class="error-text">
                    <span
                      *ngIf="
                        registerForm.get('lastname')?.hasError('required') &&
                        registerForm.get('lastname')?.touched
                      "
                    >
                      {{ "REGISTER.LAST_NAME_REQUIRED" | translate }}
                    </span>
                  </div>
                  <div class="error-text">
                    <span
                      *ngIf="
                        registerForm.get('lastname')?.hasError('minlength')
                      "
                    >
                      {{ "REGISTER.LAST_NAME_MIN_LENGTH" | translate }}
                    </span>
                  </div>
                </div>
                <div class="col-12 container__input">
                  <div class="form-floating mb-1">
                    <input
                      type="password"
                      class="form-control"
                      formControlName="username"
                      value=""
                      placeholder="username"
                      required
                    />
                    <label for="username" class="form-label">{{
                      "REGISTER.USERNAME" | translate
                    }}</label>
                  </div>
                  <div class="error-text">
                    <span
                      *ngIf="
                        registerForm.get('username')?.hasError('required') &&
                        registerForm.get('username')?.touched
                      "
                    >
                      {{ "REGISTER.USERNAME_REQUIRED" | translate }}
                    </span>
                  </div>
                  <div class="error-text">
                    <span
                      *ngIf="
                        registerForm.get('lastname')?.hasError('minlength')
                      "
                    >
                      {{ "REGISTER.USERNAME_MIN_LENGTH" | translate }}
                    </span>
                  </div>
                </div>
                <div class="col-12 container__input">
                  <div class="form-floating mb-1">
                    <input
                      type="password"
                      class="form-control"
                      formControlName="password"
                      value=""
                      placeholder="password"
                      required
                    />
                    <label for="password" class="form-label">{{
                      "REGISTER.PASSWORD" | translate
                    }}</label>
                  </div>
                  <div class="error-text">
                    <span
                      *ngIf="
                        registerForm.get('password')?.hasError('required') &&
                        registerForm.get('password')?.touched
                      "
                    >
                      {{ "REGISTER.PASSWORD_REQUIRED" | translate }}
                    </span>
                  </div>
                  <div class="error-text">
                    <span
                      *ngIf="
                        registerForm.get('password')?.hasError('minlength')
                      "
                    >
                      {{ "REGISTER.PASSWORD_MIN_LENGTH" | translate }}
                    </span>
                  </div>
                </div>
                <div class="col-12 container__input">
                  <div class="form-floating mb-1">
                    <input
                      type="password"
                      class="form-control"
                      formControlName="confirmPassword"
                      value=""
                      placeholder="confirmPassword"
                      required
                    />
                    <label for="confirmPassword" class="form-label">{{
                      "REGISTER.CONFIRM_PASSWORD" | translate
                    }}</label>
                  </div>

                <div class="error-text">
                  <span
                    *ngIf="
                      registerForm
                        .get('confirmPassword')
                        ?.hasError('required') &&
                      registerForm.get('confirmPassword')?.touched
                    "
                  >
                    {{ "REGISTER.PASSWORD_REQUIRED" | translate }}
                  </span>
                </div>
                <div class="error-text">
                  <span
                    *ngIf="
                      registerForm.get('confirmPassword')?.hasError('minlength')
                    "
                  >
                    {{ "REGISTER.CONFIRM_PASSWORD_MIN_LENGTH" | translate }}
                  </span>
                </div>
                </div>
                <div class="col-12">
                  <div class="d-grid">
                    <button class="btn btn-primary btn-lg" type="submit">
                      {{ "REGISTER.REGISTER_NOW" | translate }}
                    </button>
                  </div>
                </div>
              </div>
            </form>
            
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
