@for (cart of shoppingCart.products; track $index) {

<div class="flex items-start max-sm:flex-col gap-4 py-4">
  <div class="w-32 h-full shrink-0">
    <img
      src="{{ cart.image }}"
      class="w-full aspect-[112/149] object-contain cursor-pointer"
      (click)="navigateToProductDetail(cart.id)"
    />
  </div>

  <div class="flex items-start gap-4 w-full">
    <div>
      <h3
        class="text-base font-bold text-gray-800 mb-1 cursor-pointer"
        (click)="navigateToProductDetail(cart.id)"
      >
        {{ cart.title }}
      </h3>

      <div class="space-y-1">
        @for (property of cart.properties; track $index) {
        <h6 class="text-sm text-gray-800">
          Color:
          <strong class="ml-2">{{ property.color | uppercase }}</strong>
        </h6>
        <h6 class="mt-6 flex flex-wrap mr-1">
          @for (size of property.size; track $index) {
          <div
            class="flex gap-1 items-center border border-gray-300 bg-white px-2 py-2 w-28 mr-2 text-xs justify-between"
          >
            {{ size.size | uppercase }} :
            <button
              type="button"
              class="border-none outline-none"
              (click)="decrementQuantityProduct(cart.productId, size)"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="w-2.5 h-2.5"
                viewBox="0 0 121.805 121.804"
              >
                <path
                  d="M7.308 68.211h107.188a7.309 7.309 0 0 0 7.309-7.31 7.308 7.308 0 0 0-7.309-7.309H7.308a7.31 7.31 0 0 0 0 14.619z"
                  data-original="#000000"
                />
              </svg>
            </button>
            <span class="text-gray-800 text-sm font-semibold px-3">{{
              size.quantity
            }}</span>
            <button
              type="button"
              class="border-none outline-none"
              (click)="incrementQuantityProduct(cart.productId, size)"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="w-2.5 h-2.5"
                viewBox="0 0 512 512"
              >
                <path
                  d="M256 509.892c-19.058 0-34.5-15.442-34.5-34.5V36.608c0-19.058 15.442-34.5 34.5-34.5s34.5 15.442 34.5 34.5v438.784c0 19.058-15.442 34.5-34.5 34.5z"
                  data-original="#000000"
                />
                <path
                  d="M475.392 290.5H36.608c-19.058 0-34.5-15.442-34.5-34.5s15.442-34.5 34.5-34.5h438.784c19.058 0 34.5 15.442 34.5 34.5s-15.442 34.5-34.5 34.5z"
                  data-original="#000000"
                />
              </svg>
            </button>
          </div>
          }
        </h6>
        }
      </div>

      <div class="mt-6 flex flex-wrap gap-4">
        <button
          type="button"
          class="font-semibold text-red-500 text-sm flex items-center gap-2 shrink-0"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="w-4 fill-current inline"
            viewBox="0 0 24 24"
          >
            <path
              d="M19 7a1 1 0 0 0-1 1v11.191A1.92 1.92 0 0 1 15.99 21H8.01A1.92 1.92 0 0 1 6 19.191V8a1 1 0 0 0-2 0v11.191A3.918 3.918 0 0 0 8.01 23h7.98A3.918 3.918 0 0 0 20 19.191V8a1 1 0 0 0-1-1Zm1-3h-4V2a1 1 0 0 0-1-1H9a1 1 0 0 0-1 1v2H4a1 1 0 0 0 0 2h16a1 1 0 0 0 0-2ZM10 4V3h4v1Z"
              data-original="#000000"
            ></path>
            <path
              d="M11 17v-7a1 1 0 0 0-2 0v7a1 1 0 0 0 2 0Zm4 0v-7a1 1 0 0 0-2 0v7a1 1 0 0 0 2 0Z"
              data-original="#000000"
            ></path>
          </svg>
          Remove
        </button>
        <button
          type="button"
          class="font-semibold text-pink-500 text-sm flex items-center gap-2 shrink-0"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="w-4 fill-current inline"
            viewBox="0 0 64 64"
          >
            <path
              d="M45.5 4A18.53 18.53 0 0 0 32 9.86 18.5 18.5 0 0 0 0 22.5C0 40.92 29.71 59 31 59.71a2 2 0 0 0 2.06 0C34.29 59 64 40.92 64 22.5A18.52 18.52 0 0 0 45.5 4ZM32 55.64C26.83 52.34 4 36.92 4 22.5a14.5 14.5 0 0 1 26.36-8.33 2 2 0 0 0 3.27 0A14.5 14.5 0 0 1 60 22.5c0 14.41-22.83 29.83-28 33.14Z"
              data-original="#000000"
            ></path>
          </svg>
          Move to wish list
        </button>
      </div>
    </div>

    <div class="ml-auto text-right">
      <div
        class="flex gap-2 items-center border border-gray-300 bg-white px-3 py-2 w-max"
      >
        @if(cart.type==='simple'){

        <button
          type="button"
          class="border-none outline-none"
          (click)="decrementQuantityProduct(cart.productId, cart)"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="w-2.5 h-2.5"
            viewBox="0 0 121.805 121.804"
          >
            <path
              d="M7.308 68.211h107.188a7.309 7.309 0 0 0 7.309-7.31 7.308 7.308 0 0 0-7.309-7.309H7.308a7.31 7.31 0 0 0 0 14.619z"
              data-original="#000000"
            />
          </svg>
        </button>

        <span class="text-gray-800 text-sm font-semibold px-3">{{
          cart.properties[0].quantity
        }}</span>

        <button
          type="button"
          class="border-none outline-none"
          (click)="incrementQuantityProduct(cart.productId, cart)"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="w-2.5 h-2.5"
            viewBox="0 0 512 512"
          >
            <path
              d="M256 509.892c-19.058 0-34.5-15.442-34.5-34.5V36.608c0-19.058 15.442-34.5 34.5-34.5s34.5 15.442 34.5 34.5v438.784c0 19.058-15.442 34.5-34.5 34.5z"
              data-original="#000000"
            />
            <path
              d="M475.392 290.5H36.608c-19.058 0-34.5-15.442-34.5-34.5s15.442-34.5 34.5-34.5h438.784c19.058 0 34.5 15.442 34.5 34.5s-15.442 34.5-34.5 34.5z"
              data-original="#000000"
            />
          </svg>
        </button>
        } @else {

        <span class="text-gray-800 text-sm font-semibold px-8">{{
          cart.properties[0].quantity
        }}</span>
        }
      </div>

      <div class="mt-6">
        <h4 class="text-base font-bold text-gray-800">$ {{ cart.price }}</h4>
      </div>
    </div>
  </div>
</div>
} @empty {
<div class="flex items-center justify-center h-96">
  <h3 class="text-lg font-bold text-gray-800">No items in the cart</h3>
</div>
}
