.container-header{
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  margin-bottom: 2px;
  z-index: 150;

}


.p-dropdown-item {

  .p-element.ng-star-inserted {
    display: flex;
  }
}

.container-login {
  border: 1px solid #cbd5e1
}

.container__avatar{
  display: flex;
  flex-direction: column;
  text-align: center;
  height: 56px;
  justify-content: center;
  p{
    margin: 0;
    font-size: 10px;
  }

  &-name{
    height: 20px;
  }

}
