@import 'src/assets/styles/variables.scss';

.container__header {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  margin-bottom: 2px;
  z-index: 150;

  .p-element.container__header-menu .p-menubar.p-component.p-menubar-start.ng-star-inserted {
    display: flex !important;
    width: 100% !important;
  }

  &-img {
    width: 100%;
    color: $background3;
    background-color: $background3;

    img {
      width: 3.75rem;
      margin: 0 1rem;
    }
  }

  .container__avatar {
    display: flex;
  }
}
