@import "../../../assets/styles/variables";


.container__carousel {
  display: flex;
  background-color: transparent;
  border: none;

  &-card {
    display: flex;
    background-color: white;
    border-radius: 4px;
    height: 360px;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;

    &-img {
      width: 100%;
      display: flex;
      justify-content: center;
      height: 230px;
      background: $background4;
      align-items: center;
      border-radius: 4px;

      img {
        width: 150px;
        height: 150px;
        object-fit: contain;
      }
    }
  }
  .card2{
    width: 280px;
  }
}

.title{
  color: $titleColor;
  font-size: 2rem;
  font-weight: bold;
  margin: 1rem 2rem;

}
