<div class="font-sans">
  <div class="grid lg:grid-cols-3 gap-10 p-4">
    <div class="lg:col-span-2 bg-white divide-y">
      <app-cart-list
        [shoppingCart]="shoppingCart"
        (removeProduct)="removeProduct($event)"
        (incrementQuantity)="incrementQuantity($event)"
        (decrementQuantity)="decrementQuantity($event)"
        (idProductDetail)="navigateToProductDetail($event)"
      ></app-cart-list>
    </div>
<!-- Order Summary //Componetizar el carrito -->
    <div class="shadow-md p-6 lg:sticky lg:top-0 h-max">
      <h3 class="text-lg font-bold text-gray-800 border-b pb-4">
        Order Summary
      </h3>

      <ul class="text-gray-800 divide-y mt-4">
        <li class="flex flex-wrap gap-4 text-sm py-3">
          Subtotal
          <span class="ml-auto font-bold"
            >$ {{ subTotal | number : "1.2-2" }}</span
          >
        </li>
        <li class="flex flex-wrap gap-4 text-sm py-3">
          Shipping <span class="ml-auto font-bold">$4.00</span>
        </li>
        <li class="flex flex-wrap gap-4 text-sm py-3">
          Tax
          <span class="ml-auto font-bold">$ {{ tax | number : "1.2-2" }}</span>
        </li>
        <li class="flex flex-wrap gap-4 text-sm py-3 font-bold">
          Total <span class="ml-auto">$ {{ total | number : "1.2-2" }}</span>
        </li>
      </ul>

      <button
        type="button"
        class="mt-4 text-sm px-4 py-2.5 w-full bg-blue-600 hover:bg-blue-700 text-white tracking-wide"
        (click)="makePayment()"
      >
        Make Payment
      </button>

      <div class="mt-8">
        <h3 class="text-lg font-bold text-gray-800 mb-4">Apply promo code</h3>

        <div class="flex border border-blue-600 overflow-hidden max-w-md">
          <input
            type="email"
            placeholder="Promo code"
            class="w-full outline-none bg-white text-gray-600 text-sm px-4 py-2.5"
          />
          <button
            type="button"
            class="flex items-center justify-center bg-blue-600 hover:bg-blue-700 px-5 text-sm text-white"
          >
            Apply
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
