@tailwind base;
@tailwind components;
@tailwind utilities;


@layer tailwindcss, primeng;

@import "../node_modules/tailwindcss/base.css" layer(tailwindcss);
@import "../node_modules/tailwindcss/components.css" layer(tailwindcss);
@import "../node_modules/tailwindcss/utilities.css" layer(tailwindcss);

@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";
@import "primeicons/primeicons.css";


.container__form {
  &-input {
    height: 6rem;
  }

  .error-text {
    color: red;
    font-size: 0.8rem;
  }
}
